.header {
  @mixin atXlarge {
    height: 100px;
  }

  &__logo {
    float: left;
    width: 2.5rem;
    margin-top: 0.8rem;

    @mixin atSmall {
      width: 3rem;
      margin: 1.8rem 0 0 1rem;
    }

    @mixin atLarge {
      margin: 1.8rem 0 0 2.5rem;
    }
  }

  &__menu {
    text-align: right;
    padding-top: 1.6rem;
    display: none;

    @mixin atSmall {
      display: block;
      padding: 2.9rem 1rem 0 0;
    }

    @mixin atLarge {
      padding-right: 3.9rem;
    }

    & > a {
      color: $darkBlue;
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: 200;
      padding-right: 15px;

      @mixin atSmall {
        font-size: 1.2rem;
        padding-right: 25px;
      }

      @mixin atMedium {
        font-size: 1.4rem;
        padding-right: 35px;
      }
    }

    & > a:last-of-type {
      padding-right: 0;
    }

  }
}