.headline {
  color: $darkBlue;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;

  @mixin atSmall {
    font-size: 2.5rem;
  }

  @mixin atMedium {
    font-size: 3rem;
  }

  @mixin atLarge {
    font-size: 2.75rem;
  }

  &--centred {
      text-align: center;

    @mixin atLarge {

      text-align: left;
    }
  }

  &--t-margin {
    margin-top: .7rem;

    @mixin atLarge {
      margin-top: 2rem;
    }

    @mixin atXlarge {
      margin-top: 6rem;
    }
  }
}